eslint/*.xpi
eslint/*.zip
eslint/packed.js
eslint/index.csv
node_modules
plugin/@zip.js/zip.js/dist/zip-no-worker.min.js
package-lock.json
.idea
.vscode
/plugin/dompurify/
/plugin/@zip.js/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.mypy_cache/
.dmypy.json
dmypy.json
.pytest_cache/
# End Python